# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
env/
venv/

# Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build / packaging
*.egg-info/
dist/
build/

# Editor configs
.vscode/
.idea/

# Project-specific
reports/figures/
models/